body{
    width:100%;
    height:100vh;
    background: url("https://i.pinimg.com/originals/19/b0/e2/19b0e286927ae2e6963d8dcf67be5552.jpg");
    font-family: "IBM Plex Sans Arabic", sans-serif;
    margin:0;
    padding:0;
}

.head{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    background:black;
}
.title{
    background:lightblue;
    color:black;
    width:15%;
    height:6vh;
    text-align:center;
    line-height:0vh;
    border-style:ridge;
    border-radius:7px;
    transition: 0.5s all;
}

.title:hover{
    transform:scale(1.1);
    color:blue;
}

.hsc{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    width:50%;
    transition: 0.5 all;  
    color:lightblue;
}


.hsc-home:hover, .hsc-sobre:hover, .hsc-contato:hover{
    transform:scale(1.3);
    color:aquamarine;

}

@media (max-width: 700px) {
    .title{
        display:none;
    }
    .hsc{
        display:flex;
        flex-direction:column;
    }
}

footer{
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    background:black;
    height:15vh;
    color:lightblue;
    text-align:center;
    font-size:0.75em;
}

fieldset{
    height:50vh;
    width:40%;
    background:lightblue;
    border-radius:10px;
    align-items:center;
    display:block;
    margin-left:auto;
    margin-top:5%;
    margin-right:auto;
    margin-bottom:5%;
}

.labels{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    text-align:center;
}

select{
    width:35%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    border-style:none;
    border-radius:30px;
}

.buttons{
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-top:5%;
}

.btn1{
    color:lightblue;
    background:black;
    cursor:pointer;
}

.btn1:hover{
    background:grey;
    opacity: .3s;
}